# Extracci贸n

In [130]:
import requests
import pandas as pd

response = requests.get('https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json')
datos = response.json()

telecomX = pd.DataFrame(datos)
telecomX.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [131]:
datos_df = pd.json_normalize(datos)
datos_df

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

# Transformaci贸n

### **Verificaci贸n**

In [132]:
datos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### **Verificaci贸n de valores 煤nicos**

In [133]:
for col in datos_df.columns:
    print(col)
    print(datos_df[col].nunique())
    print(datos_df[col].unique())
    print('-'*50)

customerID
7267
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
--------------------------------------------------
Churn
3
['No' 'Yes' '']
--------------------------------------------------
customer.gender
2
['Female' 'Male']
--------------------------------------------------
customer.SeniorCitizen
2
[0 1]
--------------------------------------------------
customer.Partner
2
['Yes' 'No']
--------------------------------------------------
customer.Dependents
2
['Yes' 'No']
--------------------------------------------------
customer.tenure
73
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
--------------------------------------------------
phone.PhoneService
2
['Yes' 'No']
--------------------------------------------------
phone.MultipleLines
3
['No' 'Yes' 'No phone service']
--------------------------------------------------
internet.InternetService
3
['DSL' 'Fiber optic' 'No']
--------------------------------------------------
internet.OnlineSecurity
3
['No' 'Yes' 'No internet service']
--------------------------------------------------
internet.OnlineBackup
3
['Yes' 'No' 'No internet service']
--------------------------------------------------
internet.DeviceProtection
3
['No' 'Yes' 'No internet service']
--------------------------------------------------
internet.TechSupport
3
['Yes' 'No' 'No internet service']
--------------------------------------------------
internet.StreamingTV
3
['Yes' 'No' 'No internet service']
--------------------------------------------------
internet.StreamingMovies
3
['No' 'Yes' 'No internet service']
--------------------------------------------------
account.Contract
3
['One year' 'Month-to-month' 'Two year']
--------------------------------------------------
account.PaperlessBilling
2
['Yes' 'No']
--------------------------------------------------
account.PaymentMethod
4
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
--------------------------------------------------
account.Charges.Monthly
1585
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
--------------------------------------------------
account.Charges.Total
6531
['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']
--------------------------------------------------

### **Verificaci贸n de valores duplicados**

In [134]:
datos_df.duplicated().sum()

np.int64(0)

### **Verificaci贸n de valores nulos**

In [135]:
datos_df.isnull().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

### **Verificaci贸n de valores vac铆os o en blanco**

In [136]:
datos_df.apply(lambda x: x.astype(str).str.strip() == '').sum()

customerID                     0
Churn                        224
customer.gender                0
customer.SeniorCitizen         0
customer.Partner               0
customer.Dependents            0
customer.tenure                0
phone.PhoneService             0
phone.MultipleLines            0
internet.InternetService       0
internet.OnlineSecurity        0
internet.OnlineBackup          0
internet.DeviceProtection      0
internet.TechSupport           0
internet.StreamingTV           0
internet.StreamingMovies       0
account.Contract               0
account.PaperlessBilling       0
account.PaymentMethod          0
account.Charges.Monthly        0
account.Charges.Total         11
dtype: int64

### **Transformaci贸n**

##### **Transformando la columna account.Charges.Total a float**

In [137]:
datos_df['account.Charges.Total'] = pd.to_numeric(datos_df['account.Charges.Total'], errors = 'coerce')
datos_df['account.Charges.Total'].dtype

dtype('float64')

In [138]:
datos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

##### **Eliminaci贸n de valores vac铆os en la columna Churn**

In [139]:
len(datos_df)

7267

In [140]:
datos_df = datos_df[datos_df['Churn'].str.strip() != ""]
len(datos_df)

7043

In [141]:
datos_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer.gender            7043 non-null   object
 3   customer.SeniorCitizen     7043 non-null   int64
 4   customer.Partner           7043 non-null   object
 5   customer.Dependents        7043 non-null   object
 6   customer.tenure            7043 non-null   int64
 7   phone.PhoneService         7043 non-null   object
 8   phone.MultipleLines        7043 non-null   object
 9   internet.InternetService   7043 non-null   object
 10  internet.OnlineSecurity    7043 non-null   object
 11  internet.OnlineBackup      7043 non-null   object
 12  internet.DeviceProtection  7043 non-null   object
 13  internet.TechSupport       7043 non-null   object
 14  internet.StreamingTV       7043 non-null   object
 15  internet.StreamingMovies   7043 non-null   object
 16  account.Contract           7043 non-null   object
 17  account.PaperlessBilling   7043 non-null   object
 18  account.PaymentMethod      7043 non-null   object
 19  account.Charges.Monthly    7043 non-null   float64
 20  account.Charges.Total      7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

##### **Verificaci贸n de datos vac铆os, blancos y nulos**

---

In [142]:
datos_df.apply(lambda x: x.astype(str).str.strip() == '').sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [143]:
datos_df.isnull().sum()

customerID                    0
Churn                         0
customer.gender               0
customer.SeniorCitizen        0
customer.Partner              0
customer.Dependents           0
customer.tenure               0
phone.PhoneService            0
phone.MultipleLines           0
internet.InternetService      0
internet.OnlineSecurity       0
internet.OnlineBackup         0
internet.DeviceProtection     0
internet.TechSupport          0
internet.StreamingTV          0
internet.StreamingMovies      0
account.Contract              0
account.PaperlessBilling      0
account.PaymentMethod         0
account.Charges.Monthly       0
account.Charges.Total        11
dtype: int64

In [144]:
datos_df = datos_df.dropna(subset = ['account.Charges.Total'])
datos_df.isnull().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [145]:
datos_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7032 non-null   object
 1   Churn                      7032 non-null   object
 2   customer.gender            7032 non-null   object
 3   customer.SeniorCitizen     7032 non-null   int64
 4   customer.Partner           7032 non-null   object
 5   customer.Dependents        7032 non-null   object
 6   customer.tenure            7032 non-null   int64
 7   phone.PhoneService         7032 non-null   object
 8   phone.MultipleLines        7032 non-null   object
 9   internet.InternetService   7032 non-null   object
 10  internet.OnlineSecurity    7032 non-null   object
 11  internet.OnlineBackup      7032 non-null   object
 12  internet.DeviceProtection  7032 non-null   object
 13  internet.TechSupport       7032 non-null   object
 14  internet.StreamingTV       7032 non-null   object
 15  internet.StreamingMovies   7032 non-null   object
 16  account.Contract           7032 non-null   object
 17  account.PaperlessBilling   7032 non-null   object
 18  account.PaymentMethod      7032 non-null   object
 19  account.Charges.Monthly    7032 non-null   float64
 20  account.Charges.Total      7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

### **Columna de cuentas diarias**

In [146]:
datos_df['account.Charges.Daily'] = datos_df['account.Charges.Monthly'] / 30
datos_df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,account.Charges.Daily
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.186667
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,1.996667
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.463333
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,2.796667

### **Estandarizaci贸n y transformaci贸n de datos**

In [147]:
columnas = {'customerID': 'id',
 'Churn': 'evasi贸n',
 'customer.gender': 'genero',
 'customer.SeniorCitizen': 'tiene_+60',
 'customer.Partner': 'tiene_pareja',
 'customer.Dependents': 'tiene_dependientes',
 'customer.tenure': 'tiempo_contrato_meses',
 'phone.PhoneService': 'servicio_telefono',
 'phone.MultipleLines': 'multiples_lineas',
 'internet.InternetService': 'tipo_internet',
 'internet.OnlineSecurity': 'seguridad_online',
 'internet.OnlineBackup': 'backup_online',
 'internet.DeviceProtection': 'proteccion_dispositivo',
 'internet.TechSupport': 'soporte_tecnico',
 'internet.StreamingTV': 'streaming_TV',
 'internet.StreamingMovies': 'streaming_peliculas',
 'account.Contract': 'tipo_contrato',
 'account.PaperlessBilling': 'factura_digital',
 'account.PaymentMethod': 'metodo_pago',
 'account.Charges.Monthly': 'facturacion_mensual',
 'account.Charges.Total': 'facturacion_total',
 'account.Charges.Daily': 'facturacion_diaria'}

In [148]:
datos_df = datos_df.rename(columns = columnas)
datos_df.head(2)

,id,evasi贸n,genero,tiene_+60,tiene_pareja,tiene_dependientes,tiempo_contrato_meses,servicio_telefono,multiples_lineas,tipo_internet,...,proteccion_dispositivo,soporte_tecnico,streaming_TV,streaming_peliculas,tipo_contrato,factura_digital,metodo_pago,facturacion_mensual,facturacion_total,facturacion_diaria
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3,2.186667
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4,1.996667

In [149]:
datos_df['tiene_+60'] = datos_df['tiene_+60'].replace({0: 'No', 1: 'S铆'})
datos_df.head()

,id,evasi贸n,genero,tiene_+60,tiene_pareja,tiene_dependientes,tiempo_contrato_meses,servicio_telefono,multiples_lineas,tipo_internet,...,proteccion_dispositivo,soporte_tecnico,streaming_TV,streaming_peliculas,tipo_contrato,factura_digital,metodo_pago,facturacion_mensual,facturacion_total,facturacion_diaria
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.186667
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,1.996667
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.463333
3,0011-IGKFF,Yes,Male,S铆,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,S铆,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,2.796667

In [150]:
datos_df = datos_df.replace({'Yes': 'S铆', 'No phone service': 'Sin servicio de tel茅fono', 'No internet service': 'Sin servicio de internet'})
datos_df.head()

,id,evasi贸n,genero,tiene_+60,tiene_pareja,tiene_dependientes,tiempo_contrato_meses,servicio_telefono,multiples_lineas,tipo_internet,...,proteccion_dispositivo,soporte_tecnico,streaming_TV,streaming_peliculas,tipo_contrato,factura_digital,metodo_pago,facturacion_mensual,facturacion_total,facturacion_diaria
0,0002-ORFBO,No,Female,No,S铆,S铆,9,S铆,No,DSL,...,No,S铆,S铆,No,One year,S铆,Mailed check,65.6,593.30,2.186667
1,0003-MKNFE,No,Male,No,No,No,9,S铆,S铆,DSL,...,No,No,No,S铆,Month-to-month,No,Mailed check,59.9,542.40,1.996667
2,0004-TLHLJ,S铆,Male,No,No,No,4,S铆,No,Fiber optic,...,S铆,No,No,No,Month-to-month,S铆,Electronic check,73.9,280.85,2.463333
3,0011-IGKFF,S铆,Male,S铆,S铆,No,13,S铆,No,Fiber optic,...,S铆,No,S铆,S铆,Month-to-month,S铆,Electronic check,98.0,1237.85,3.266667
4,0013-EXCHZ,S铆,Female,S铆,S铆,No,3,S铆,No,Fiber optic,...,No,S铆,S铆,No,Month-to-month,S铆,Mailed check,83.9,267.40,2.796667

In [151]:
datos_df = datos_df.replace({'Female': 'Femenino', 'Male': 'Masculino',
                             'One year': 'Anual', 'Month-to-month': 'Mensual', 'Two year': 'Bienal',
                             'Mailed check': 'Cheque enviado por correo',
                             'Electronic check': 'Cheque electr贸nico',
                             'Credit card (automatic)': 'Tarjeta de cr茅dito (autom谩tico)',
                             'Bank transfer (automatic)': 'Transferencia bancaria (autom谩tica)'})
datos_df.head()

,id,evasi贸n,genero,tiene_+60,tiene_pareja,tiene_dependientes,tiempo_contrato_meses,servicio_telefono,multiples_lineas,tipo_internet,...,proteccion_dispositivo,soporte_tecnico,streaming_TV,streaming_peliculas,tipo_contrato,factura_digital,metodo_pago,facturacion_mensual,facturacion_total,facturacion_diaria
0,0002-ORFBO,No,Femenino,No,S铆,S铆,9,S铆,No,DSL,...,No,S铆,S铆,No,Anual,S铆,Cheque enviado por correo,65.6,593.30,2.186667
1,0003-MKNFE,No,Masculino,No,No,No,9,S铆,S铆,DSL,...,No,No,No,S铆,Mensual,No,Cheque enviado por correo,59.9,542.40,1.996667
2,0004-TLHLJ,S铆,Masculino,No,No,No,4,S铆,No,Fiber optic,...,S铆,No,No,No,Mensual,S铆,Cheque electr贸nico,73.9,280.85,2.463333
3,0011-IGKFF,S铆,Masculino,S铆,S铆,No,13,S铆,No,Fiber optic,...,S铆,No,S铆,S铆,Mensual,S铆,Cheque electr贸nico,98.0,1237.85,3.266667
4,0013-EXCHZ,S铆,Femenino,S铆,S铆,No,3,S铆,No,Fiber optic,...,No,S铆,S铆,No,Mensual,S铆,Cheque enviado por correo,83.9,267.40,2.796667

In [152]:
for col in datos_df.columns:
    print(col)
    print(datos_df[col].nunique())
    print(datos_df[col].unique())
    print('-'*50)

id
7032
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
--------------------------------------------------
evasi贸n
2
['No' 'S铆']
--------------------------------------------------
genero
2
['Femenino' 'Masculino']
--------------------------------------------------
tiene_+60
2
['No' 'S铆']
--------------------------------------------------
tiene_pareja
2
['S铆' 'No']
--------------------------------------------------
tiene_dependientes
2
['S铆' 'No']
--------------------------------------------------
tiempo_contrato_meses
72
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]
--------------------------------------------------
servicio_telefono
2
['S铆' 'No']
--------------------------------------------------
multiples_lineas
3
['No' 'S铆' 'Sin servicio de tel茅fono']
--------------------------------------------------
tipo_internet
3
['DSL' 'Fiber optic' 'No']
--------------------------------------------------
seguridad_online
3
['No' 'S铆' 'Sin servicio de internet']
--------------------------------------------------
backup_online
3
['S铆' 'No' 'Sin servicio de internet']
--------------------------------------------------
proteccion_dispositivo
3
['No' 'S铆' 'Sin servicio de internet']
--------------------------------------------------
soporte_tecnico
3
['S铆' 'No' 'Sin servicio de internet']
--------------------------------------------------
streaming_TV
3
['S铆' 'No' 'Sin servicio de internet']
--------------------------------------------------
streaming_peliculas
3
['No' 'S铆' 'Sin servicio de internet']
--------------------------------------------------
tipo_contrato
3
['Anual' 'Mensual' 'Bienal']
--------------------------------------------------
factura_digital
2
['S铆' 'No']
--------------------------------------------------
metodo_pago
4
['Cheque enviado por correo' 'Cheque electr贸nico'
 'Tarjeta de cr茅dito (autom谩tico)' 'Transferencia bancaria (autom谩tica)']
--------------------------------------------------
facturacion_mensual
1584
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
--------------------------------------------------
facturacion_total
6530
[ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]
--------------------------------------------------
facturacion_diaria
1584
[2.18666667 1.99666667 2.46333333 ... 3.05833333 2.29333333 2.26166667]
--------------------------------------------------

In [153]:
datos_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      7032 non-null   object
 1   evasi贸n                 7032 non-null   object
 2   genero                  7032 non-null   object
 3   tiene_+60               7032 non-null   object
 4   tiene_pareja            7032 non-null   object
 5   tiene_dependientes      7032 non-null   object
 6   tiempo_contrato_meses   7032 non-null   int64
 7   servicio_telefono       7032 non-null   object
 8   multiples_lineas        7032 non-null   object
 9   tipo_internet           7032 non-null   object
 10  seguridad_online        7032 non-null   object
 11  backup_online           7032 non-null   object
 12  proteccion_dispositivo  7032 non-null   object
 13  soporte_tecnico         7032 non-null   object
 14  streaming_TV            7032 non-null   object
 15  streaming_peliculas     7032 non-null   object
 16  tipo_contrato           7032 non-null   object
 17  factura_digital         7032 non-null   object
 18  metodo_pago             7032 non-null   object
 19  facturacion_mensual     7032 non-null   float64
 20  facturacion_total       7032 non-null   float64
 21  facturacion_diaria      7032 non-null   float64
dtypes: float64(3), int64(1), object(18)
memory usage: 1.2+ MB

# Carga y an谩lisis

### **An谩lisis Descriptivo**

In [154]:
datos_df.describe()

,tiempo_contrato_meses,facturacion_mensual,facturacion_total,facturacion_diaria
count,7032.000000,7032.000000,7032.000000,7032.000000
mean,32.421786,64.798208,2283.300441,2.159940
std,24.545260,30.085974,2266.771362,1.002866
min,1.000000,18.250000,18.800000,0.608333
25%,9.000000,35.587500,401.450000,1.186250
50%,29.000000,70.350000,1397.475000,2.345000
75%,55.000000,89.862500,3794.737500,2.995417
max,72.000000,118.750000,8684.800000,3.958333

### **Distribuci贸n de evasi贸n**

#Informe final